<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>ex01</title>
  <!--  jQuery CDN-->
  <script src="https://code.jquery.com/jquery-3.7.0.min.js" integrity="sha256-2Pmvv0kuTBOenSvLm6bvfBSSHrUJ+3A7x6P5Ebd07/g=" crossorigin="anonymous"></script>
</head>
<body>
<button onclick="ex06Fn()">ex06 함수 호출</button>
</body>
<script>
  const ex06Fn = () => {
    // server로 post 요청하고 dto 전달하기
    // 요청 방식 : post, 요청 주소: /ex06
    const val1 = "Hello SpringBoot!!!";
    const params = {
      "param1" : val1,
      "param2" : "안녕"
    };

    $.ajax({
      type: "post",
      url: "/ex06",
      // parameter 전달하기
      data: params,
      // 요청이 성공했을 때 실행되는 부분
      success: function(res){
        console.log("성공", res);
      },
      // 요청이 실패했을 때 실행되는 부분
      error: function(){
        console.log("실패");
      }
    })
  }
</script>
</html>